<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Transaction Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-icon src="../../assets/sign.svg" slot="start" size="large"></ion-icon>
    <ion-label id="text" [routerLink]="['/tabs/main/transactionDetail']">
     Send
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label id="text1">
        Amount
        <div id="text2">123.4 XPX</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label id="text1">
        Name of mosaic
        <div id="text2">Proximax</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label id="text1">
        To
        <div id="text2">B393CCCFFDF4E0F3B5CFB17631FBAD9B381832D9CD20B807E792340A6FECA2F2</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label id="text1">
        From 
        <div id="text2">E5348520BE0842760E8EA47083CFD008E241CF2661EFA65EE60FD7E5CE055C12</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label id="text1">
        Time
        <div id="text2">10/10/2019 02:14PM</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label id="text1">
        Message
        <div id="text2">This is my message</div>
      </ion-label>
    </ion-item>
  </ion-list>

  <div id="button">
    <ion-button [routerLink]="['/tabs/main/history']" color="favorite">Back</ion-button>
  </div>

</ion-content>

