ion-toolbar {
    --background:  url('../../assets/toolbar.png');
    --min-height: 23vh;
    --color: #ffffff;
}

ion-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial;
    
}

#text{
    text-align:center;
    font-family: Arial;
    font-size: 15px;
}


#input{
    padding-top:10vh;
    ion-input{
        text-align: center;
    }
}

#button1{
    height: 5vh;
    width: 100%;
    text-align: center;
    padding-top: 45%;
    padding-bottom: 0vh;

    ion-button {
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
        --color: #ffffff;
        --border-radius: 100px;
        --border-color: #fff;
        --border-width: 1px;
        --padding-start: 30vw;
        --padding-end: 30vw;
        --padding-top: 1.5em;
        --padding-bottom: 1.5em;
        text-transform: none;
    }
}

.ion-color-favorite {
    --ion-color-base: var(--ion-color-favorite);
    --ion-color-base-rgb: var(--ion-color-favorite-rgb);
    --ion-color-contrast: var(--ion-color-favorite-contrast);
    --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
    --ion-color-shade: var(--ion-color-favorite-shade);
    --ion-color-tint: var(--ion-color-favorite-tint);
 }

#image {    
    height: 30vh;
    width: 100%;
    padding-top: 5vh;
    text-align: center;
    img {
    width: 300px;
    height: 300px;
    }    
}

.ion-color-gradient{
    --ion-color-base: var(--ion-color-gradient);
    --ion-color-base-rgb: var(--ion-color-gradient-rgb);
    --ion-color-contrast: var(--ion-color-gradient-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gradient-contrast-rgb);
    --ion-color-shade: var(--ion-color-gradient-shade);
    --ion-color-tint: var(--ion-color-gradient-tint);
}