<ion-header>
    <ion-toolbar>
      <ion-title>Recovery ID</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <div id="text">
    <p>We are working to recovery your SiriusID .</p>
  </div>
  
  <div id="image">
    <img src='assets/wallet.png'/>
  </div>
  
  <div id="button1">
    <ion-button [routerLink]="['/recovery2']" color="favorite" >Next</ion-button>
  </div>
  </ion-content>
  