<ion-header>
  <ion-toolbar>
    <ion-back-button [text]=null slot="start" mode="md"></ion-back-button>
    <ion-title>SiriusID</ion-title>      
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <div id="text">
    <p>Generate randomness (entropy)</p>
  </div>
  
  <div id="image">
    <img src='assets/wallet.png'/>
  </div>
  
  <div id="button">
    <ion-button [routerLink]="['/tabs']" color="favorite" mode="md">Next</ion-button>
  </div>
</ion-content>
  