<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Result
    </ion-title>
  </ion-toolbar> 
</ion-header>  
  
<ion-content > 
  <div id="image" *ngIf="!fail" (click)="fail=true">
    <img src='assets/done.png'/>
  </div>

  <div id="image" *ngIf="fail">
    <img src='assets/fail.png'/>
  </div>



  <div id="text" *ngIf="!fail">
    Your sending transaction is successfull <br>
    Thank you for for using SiriusID 
  </div>

  <div id="text" *ngIf="fail">
    Your sending transaction is not completed <br>
    Something wrong 
  </div>
  
  <div id="button" *ngIf="!fail">
    <ion-button [routerLink]="['/confirm2']" color="transparent" >Continue Scan</ion-button>
  </div>

  <h6 *ngIf="!fail">Result detail</h6>
</ion-content>
  