ion-toolbar{
    --background: url('../../assets/toolbarqr.png');
    --min-height: 5vh; 
}


ion-title{
    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    padding-top: 1vh;
}

#text{
    text-align: center;
    color: #000000;
    font-size: 18px;
    line-height: 32px;
    font-family: Arial;
}

img{
    padding-bottom: 5vh;
    width: 318px;
    height: 318px;
}

#button{
    width: 100%;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 0vh;

    ion-button {
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
        --color: #ffffff;
        --border-radius: 100px;
        --border-color: #fff;
        --border-width: 1px;
        --padding-start: 30vw;
        --padding-end: 30vw;
        --padding-top: 1.5em;
        --padding-bottom: 1.5em;
        text-transform: none;
    }
}

.ion-color-gradient{
    --ion-color-base: var(--ion-color-gradient);
    --ion-color-base-rgb: var(--ion-color-gradient-rgb);
    --ion-color-contrast: var(--ion-color-gradient-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gradient-contrast-rgb);
    --ion-color-shade: var(--ion-color-gradient-shade);
    --ion-color-tint: var(--ion-color-gradient-tint);
}
.ion-color-favorite{
    --ion-color-base: var(--ion-color-favorite);
    --ion-color-base-rgb: var(--ion-color-favorite-rgb);
    --ion-color-contrast: var(--ion-color-favorite-contrast);
    --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
    --ion-color-shade: var(--ion-color-favorite-shade);
    --ion-color-tint: var(--ion-color-favorite-tint);
}