<ion-header>
  <ion-toolbar>
    <ion-title>My QR code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>

  <ion-card>

    <div id="text">
      <h3>PHANTOM28004</h3>
    </div>  

    <div id="card">
        <img src="assets/qr.png"/>
    </div>
        
  </ion-card>

  <div id="button">
    <ion-button [routerLink]="['/tabs/user']" color="favorite" >Back</ion-button>
  </div>

</ion-content>
