<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- List of Text Items -->
  <ion-list lines="full" inset="false">

    <ion-list-header>
      <div id="text">My settings</div>
    </ion-list-header> 

    <ion-item >
      <div id="test">
      Nortification
      </div>     
      <ion-toggle slot="end" color="favorite" checked="true" mode="md"></ion-toggle>           
    </ion-item>

    <ion-item >
      <div id="test">
      Alert
      </div>
      <ion-toggle slot="end" color="favorite" checked="false" mode="md"></ion-toggle>
     </ion-item>
  </ion-list>
 
</ion-content>

