ion-toolbar{
    --background: url('../../assets/bgsetting.png');
    --min-height: 5vh;
}

ion-back-button{
    --color: #ffffff;
}
ion-title{
    color: #ffffff;
    text-align: center;
}

p{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

#text{
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    color: #272727;
}

ion-icon{
    padding-right: 10px;
    width: 20px;
    height: 20px;
    color: #40E398;
}

.ion-color-favorite {
    --ion-color-base: var(--ion-color-favorite);
    --ion-color-base-rgb: var(--ion-color-favorite-rgb);
    --ion-color-contrast: var(--ion-color-favorite-contrast);
    --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
    --ion-color-shade: var(--ion-color-favorite-shade);
    --ion-color-tint: var(--ion-color-favorite-tint);
}