<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <h3>Profile</h3>         
    <img src='assets/user.png'/>
    <h4>PHANTOM28004</h4>
  </ion-toolbar>
</ion-header>
  
<ion-content> 
  
  <!-- List of Text Items -->
  <ion-list lines="full" inset="false">
    <ion-list-header>
      <div id="text">Functions</div>
    </ion-list-header>  
    <ion-item [routerLink]="['/tabs/user/qr']" mode="ios">
      <ion-icon name="qr-scanner" slot="start" size="large"></ion-icon>
      <h5>My Address</h5>
    </ion-item>
  </ion-list>
  
  <ion-list lines="full" inset="false">
    <ion-list-header>
      <div id="text">Personal</div>
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h5>
          <div id="text2">Name</div>         
        </h5>          
      </ion-label>
      <ion-input placeholder="PHANTOM28004" inputmode="text"></ion-input>       
    </ion-item>

    <ion-item>
      <ion-label>
        <h5>
          <div id="text2">Email</div>
        </h5>
      </ion-label>
      <ion-input placeholder="phap.ho@fdssoft.com" inputmode="text"></ion-input>        
    </ion-item>

    <ion-item>
      <ion-label>
        <h5>
          <div id="text2">Country</div>
        </h5>
      </ion-label>      
      <ion-input placeholder="Vietnam" inputmode="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        <h5>
          <div id="text2">Phone<br></div>          
        </h5>
      </ion-label>  
      <ion-input placeholder="+84 349 321 167" inputmode="text"></ion-input>      
    </ion-item>
    
  </ion-list>
</ion-content>
  