ion-toolbar {
    --background: url('../../assets/toolbaruser.png');    
    --min-height: 25vh;
    --color: #ffffff;
}

ion-back-button{
    --color: #ffffff;
}

img{
    
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    --border-style: none;
    --border-width: 0px;
}

p{
    text-align: center;
    font-weight: bold;
    font-size: 12px;

}
h3{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
h4{
    text-align: center;
    font-style: bold;
    text-align: center;
    font-family: arial;
}


h5{
    font-style: bold;
    font-family: Arial;
    padding-left: 2vw;
    font-size: 15px;    
}

ion-icon{
    padding-right: 10px;
    width: 20px;
    height: 20px;
    color: #40E398;
}

#text{
    font-family: Arial;
    font-weight: bold;
    font-size: 15pt;
}

#text2{
    font-size: 10pt;
    color: #b6a7a7;
}


#edit{
    font-size: 5pt;
    text-align: right;
    font-weight: bold;
    font-family: Arial;
}