<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon src="../../assets/sign.svg" slot="start" size="large"></ion-icon>
      <ion-label id="text" [routerLink]="['/tabs/main/transactionDetail']">
        Sign in confirm
        <div id="text1">June 6, 2019</div>
      </ion-label>
    </ion-item>
    <ion-item>   
      <ion-icon src="../../assets/send.svg" slot="start" size="large"></ion-icon>
      <ion-label id="text" [routerLink]="['/tabs/main/transactionDetail1']">     
        <ion-grid>
          <ion-row>
            <ion-col>
              Send
              <div id="text1">June 4, 2019</div>               
            </ion-col>
            <ion-col>
              <div id="text2">123.4 XPX</div>              
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon src="../../assets/send.svg" slot="start" size="large"></ion-icon>
      <ion-label id="text" [routerLink]="['/tabs/main/transactionDetail1']">     
        <ion-grid>
          <ion-row>
            <ion-col>
              Send
              <div id="text1">June 4, 2019</div>               
            </ion-col>
            <ion-col>
              <div id="text2">123.4 XPX</div>              
            </ion-col>            
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list> 
</ion-content>

