ion-toolbar{
    --background: url('../../assets/bgsetting.png');
    --min-height: 5vh;
}

ion-title{
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

ion-back-button{
    --color: #ffffff;
}

#text{
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    color: #423D3D;
}

#text1{
    font-family: Arial;
    font-size: 11px;
    line-height: 14px;
    color: #7B7B7B;
}

#text2{
    text-align: right;
    color: #C2382A;
}