<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slides</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/css/ionic.bundle.css"/>
    <style>
      :root {
        --ion-safe-area-top: 30px;
        --ion-safe-area-bottom: 32px;
      }
      .swiper-slide {
        display: block;
        
      }
      ion-slide > h2 {
        margin-top: 2rem;
      }
      ion-slide > img {
        margin-top: 2rem;
        height: 350px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <ion-app>
      <ion-header translucent>        
      </ion-header>
  
      <ion-content fullscreen padding scroll-y="false">
        <ion-slides pager = "true" [options]="slideOpts">

          <!-- SLIDE 1 -->
  
          <ion-slide>
            <div id="im1">
                <img src="assets/protect.png"/>
            </div>            
            <h2><b>Protect Your Privace</b></h2>
            <p>Nobody can stolen your information. Share your infomation in safe way</p>
            <br/>
          </ion-slide >

          <!-- SLIDE 2 -->
  
          <ion-slide>
            <div id="im2">
                <img src="assets/graphicIntro.png"/>
            </div>
            
            <h2><b>Sign In And Confirm</b></h2>
            <p>Enjoy quickly, easily, and free access for login and confirm to new services</p>
            <br>
          </ion-slide>

          <!-- SLIDE 3 -->
  
          <ion-slide>
            <div id="im3">
                <img src="assets/graphicintro2.png"/>
            </div>
            
            <h2><b>Control Your Data</b></h2>
            <p>Control and store the information about yourself</p>
          </ion-slide>

        </ion-slides>
        <div id = "btn">
            <ion-button expand = "full" color="favorite" [routerLink]="['/signup']" >Continue</ion-button>
        </div>
        
      </ion-content>
    </ion-app>
  </body>