
#im1{
    padding-top: 20vh;
    padding-left: 77px;
    height: 60vh;
    width: 100%;
    img{
        width: 351px;
        height: 213px;
    }
}

#im2{
    padding-top: 12vh;
    height: 60vh;
    text-align: center;
    img{
        width: 376px;
        height: 293px;
    }
}

#im3{
    padding-top: 15vh;
    height: 60vh;
    text-align: center;
    img{
        width: 130px;
        height: 300px;
    }
}

h2{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #4A4A4A;
}

#btn {
    width: 100%;
    text-align: center;
    padding-top: 3vh;
    ion-button {
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        display: flex;
        font-size: 16px;
        --color: #ffffff;
        --border-radius: 100px;
        --border-color: #fff;
        --border-width: 1px;
        --padding-start: 20vw;
        --padding-end: 20vw;
        --padding-top: 0vh;
        --padding-bottom: 0vh;
        text-transform: none;
    }
}



.ion-color-favorite {
    --ion-color-base: var(--ion-color-favorite);
    --ion-color-base-rgb: var(--ion-color-favorite-rgb);
    --ion-color-contrast: var(--ion-color-favorite-contrast);
    --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
    --ion-color-shade: var(--ion-color-favorite-shade);
    --ion-color-tint: var(--ion-color-favorite-tint);
  }
  
  .ion-color-gradient{
    --ion-color-base: var(--ion-color-gradient);
    --ion-color-base-rgb: var(--ion-color-gradient-rgb);
    --ion-color-contrast: var(--ion-color-gradient-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gradient-contrast-rgb);
    --ion-color-shade: var(--ion-color-gradient-shade);
    --ion-color-tint: var(--ion-color-gradient-tint);
}