ion-toolbar{
    --background: url('../../assets/bgsetting.png');
    --min-height: 5vh;
}

ion-title{
    color: #ffffff;
    text-align: center;
}
img{    
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    --border-style: none;
}

p{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

#text{
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    color: #717171;
}

h5{
    font-style: bold;
    font-family: Arial;
    padding-left: 2vw;
    font-size: 14px;
    line-height: 20px;
    color: #272727;
}

#text2{
    font-size: 12px;
    color: #b6a7a7;
    padding-bottom: 2vh;
    line-height: 16px;
}

h4{
    text-align: center;
    font-family: Arial;
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
}

ion-icon{
    padding-right: 10px;
    width: 20px;
    height: 20px;
    color: #40E398;
}