<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- List of Text Items -->
  <ion-list lines="full" inset="false">
    <ion-list-header>
      <div id="text">Genenral</div>
    </ion-list-header>  
    <ion-item [routerLink]="['/']" mode="ios">
      <ion-label>
        <h5>Version</h5>
      </ion-label>        
    </ion-item>
    <ion-item [routerLink]="['/tabs/setting/nortification']" mode="ios">
      <ion-label>
        <h5>Norification</h5>
      </ion-label>        
    </ion-item>
  </ion-list>

  <ion-list lines="full" inset="false">
    <ion-list-header>
      <div id="text">Account</div>
    </ion-list-header>  
    <ion-item [routerLink]="['/tabs/setting/backup']" mode="ios">
      <ion-label>
        <h5>Account Backup</h5>
      </ion-label>        
    </ion-item>
    <ion-item [routerLink]="['/']" mode="ios">
      <ion-label>
        <h5>Support</h5>
      </ion-label>        
    </ion-item>
  </ion-list>

  <ion-list lines="full" inset="false">
    <ion-list-header>
      <div id="text">Terms and Policy</div>
    </ion-list-header>  
    <ion-item [routerLink]="['/']" mode="ios">
      <ion-label>
        <h5>Privacy Policy</h5>
      </ion-label>        
    </ion-item>
    <ion-item [routerLink]="['/']" mode="ios">
      <ion-label>
        <h5>Term & Condition</h5>
      </ion-label>        
    </ion-item>
  </ion-list>


  
  
</ion-content>

