<ion-tabs >

    <ion-tab-bar slot="bottom" color="ionbar" > 
      <ion-tab-button tab="main" selected="true">
        <ion-icon name="home" color="light" ></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="user">
        <ion-icon name="person" color="light"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="setting">
        <ion-icon name="settings" color="light"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  