<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col [routerLink]="['/tabs/main/camera']">
        <ion-card>
          <div class="container">
            <img src='assets/qrcode.png'/>                      
          </div>
          <p>CONFIRM & LOGIN</p>         
        </ion-card>
      </ion-col>
      <ion-col [routerLink]="['/tabs/main/history']">
        <ion-card>
          <div class="container">
            <img src='assets/history.png'/>
          </div>
            <p>HISTORY</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
