ion-toolbar{
    --background: url('../../assets/toolbar2.png');
    --min-height: 5vh;  
}

ion-title{
    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    padding-top: 1vh;
}
   
p{
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    color: #272727;
    font-style: normal;
}

.container {
    padding-top: 5vh;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
    }
}