ion-toolbar{
    --background: url('../../assets/toolbar2.png');
    --min-height: 5vh;  
}

ion-title{
    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    padding-top: 1vh;
}

ion-back-button{
    --color: #ffffff;
}