<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title [routerLink]="['/tabs/main/confirm']">Scan</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>
