ion-content {    
    --background: url('../../assets/bg.png');
}


ion-title{
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial;
    color: #000000;
    
}

ion-card{
    --background: #ffffff;
   
}

#card{
    text-align: center;    
    padding-left: 30%;
    padding-bottom: 2vh;
    img{
        width: 150px;
        height: 150px;        
    }
}

#text{
    text-align: center;
    p{
        color: #FC6437;
        font-family: Arial;
        font-weight: bold;
        font-size: 16px;
        font-style: normal;
    }
}

#text1{
    text-align: center;
    p{
        color: rgb(2, 2, 2);
        font-family: Arial;
        font-weight: bold;
        font-size: 30px;
        font-style: normal;
    }
}

#text3{
    text-align: center;
    p{
        color: #FC6437;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        text-decoration: underline;        
    }
}

ion-content{
    padding-top: 5vh;
}


#text4{
    padding-top: 10vh;
    text-align: center;
    p{
        color: #ffffff;
        font-family: Arial;
        font-weight: bold;
        font-size: 30px;
        font-style: normal;
    }
}