<ion-header>
 
    
</ion-header>

<ion-content>

  <div id="text4"><p>Recovery ID</p></div>
  <ion-card>
    <div id="card">
        <img src="assets/trophy.png"/>
    </div>

    <div id="text">
      <p>Recover success</p>
    </div>

    <div id="text1">
      <p>Congrats!</p>
    </div>    

    <div id="text3">
      <p>Start now</p>
    </div>    
  </ion-card>
</ion-content>
