<ion-header>
  
</ion-header>

<ion-content >

  <div id="text">
    Terms And Conditions
  </div>

  <div id="button">
    <ion-button  [routerLink]="['/signup']" shape="round" color="favorite" >Back</ion-button>
  </div>

</ion-content>
