#text{
    text-align: center;
    padding-top: 10vh;
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
}

#button{
    height: 25vh;
    width: 100%;
    text-align: center;
    padding-top: 130%;
    padding-bottom: 0vh;

    ion-button {
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
        --color: #ffffff;
        --border-radius: 100px;
        --border-color: #fff;
        --border-width: 1px;
        --padding-start: 30vw;
        --padding-end: 30vw;
        --padding-top: 1vh;
        --padding-bottom: 1vh;
        text-transform: none;
    }
}
    
.ion-color-favorite {
    --ion-color-base: var(--ion-color-favorite);
    --ion-color-base-rgb: var(--ion-color-favorite-rgb);
    --ion-color-contrast: var(--ion-color-favorite-contrast);
    --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
    --ion-color-shade: var(--ion-color-favorite-shade);
    --ion-color-tint: var(--ion-color-favorite-tint);
  }

.ion-color-gradient{
    --ion-color-base: var(--ion-color-gradient);
    --ion-color-base-rgb: var(--ion-color-gradient-rgb);
    --ion-color-contrast: var(--ion-color-gradient-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gradient-contrast-rgb);
    --ion-color-shade: var(--ion-color-gradient-shade);
    --ion-color-tint: var(--ion-color-gradient-tint);
}