<ion-header>
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>

      <ion-title>
        Confirm transaction
      </ion-title>
      
    </ion-toolbar>
</ion-header>


<ion-content>

  <div id="image">
      <img src='assets/email.png'/>
  </div>

  <div id="text1">
    You are sending to:
  </div>

  <div id="border" >
    <ion-grid  >
      <ion-row align-items-center>
        <ion-col align-self-center >
          <div id="text">
            <b>Address</b>
            <h6>TB75BT-2MJWHQ-QBNLAG-75KXWG-IZTMLZ-3HHQQF-YUVP</h6>
          </div>      
        </ion-col> 
      </ion-row>
  
      <ion-row align-items-center>
        <ion-col align-self-center>
          <div id="text">
            <b>Coin Name</b>
            <br>
            XPX
          </div>
        </ion-col>
        <ion-col align-self-center>
          <div id="text">
            <b>Amount</b>
            <br>
            12.234
          </div>
        </ion-col>
        <ion-col align-self-center id="image1">
         <img src='assets/proximax.png'/>
        </ion-col>
      </ion-row>
  
      <ion-row align-items-center>
        <ion-col id="text">
          <div>
            <b>Message</b>
            <br>
            This is the first message of me
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div id="button">
      <ion-button [routerLink]="['/tabs/main/confirm1']" color="light" >Next</ion-button>
  </div>

</ion-content>
