ion-back-button{
    --color: #ffffff;
}

:host {
    background: url('../../assets/bg.png') no-repeat 0 0;
    background-size: cover;
    ion-header {
        backdrop-filter: none;
        ion-toolbar {
            --color: #fff;
            --border-width: 0;
            --background: none;
        }
    }
    ion-content {
        --color: #fff;
        --background: none;
    }
}

ion-title{
    color: #ffffff;
    font-family: Arial;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

#image{
    text-align: center;
    padding-top: 3vh;
    img{
        width: 103px;
        height: 103px;
    }    
}

#text1{
    padding-top: 7vh;
    padding-bottom: 3vh;
    text-align: center;
    color: #ffffff;
    font-weight: 550;
    font-size: 16px;
    line-height: 19px;
}
#image1{
    text-align: center;
    img{
        width: 29px;
        height: 29.5px;
        text-align: center;
    }
}

#text{
    font-size: 14px;
    line-height: 17px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #000000;
    b{
        font-size: 12px;        
        line-height: 14px;
    }
    h6{
        font-size: 10.5px;        
        line-height: 13px;
    }    
}

#border{    
    border: 0.5px solid white;
    border-radius: 25px;
    background: #ffffff;
    width: 90vw;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
}

#button{
    height: 5vh;
    width: 100%;
    text-align: center;
    padding-top: 13vh;
    padding-bottom: 0vh;

    ion-button {
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
        --color: #ffffff;
        --border-radius: 100px;
        --border-color: #fff;
        --border-width: 1px;
        --padding-start: 30vw;
        --padding-end: 30vw;
        --padding-top: 1vh;
        --padding-bottom: 1vh;
        text-transform: none;
    }
}


