ion-toolbar {
    --background:  url('../../assets/toolbar.png');    
    --min-height: 23vh;
    --color: #ffffff;
}

ion-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial;    
}

#border{
    border: 1px solid #38CB90;
    border-radius: 5px;
    width: 90vw;
    height: 7vh;
    margin-left: auto;
    margin-right: auto;
}

#text{
    text-align:center;
    font-family: Arial;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: #222F3E;
}

#input{
    padding-top: 35px;
    ion-input{
        text-align: center;
        --placeholder-color: #222F3E;
    }
    p{
        text-align: center;
        font-size: 12px;
        font-family: arial;
        line-height: 16px;
        color: #7B7B7B7B
    }
}

ion-checkbox{
    --border-color: #38cb90;
    --border-radius: 0;
    --size: 14px;
}

ion-item{
    p{
        font-family: Arial;
        padding-left: 6%;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: -0.5px;
        color: #272727;
    }
}

#button{
    text-align: center;
    padding-top: 13vh;
    ion-button {
        font-weight: bold;
        font-family: Arial;
        font-style: normal;
        font-size: 16px;
        --border-radius: 100px;
        --border-width: 1px;
        --padding-start: 20vw;
        --padding-end: 20vw;
        --padding-top: 1vh;
        --padding-bottom: 1vh;
        text-transform: none;
    }
}


.ion-color-gradient{
    --ion-color-base: var(--ion-color-gradient);
    --ion-color-base-rgb: var(--ion-color-gradient-rgb);
    --ion-color-contrast: var(--ion-color-gradient-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gradient-contrast-rgb);
    --ion-color-shade: var(--ion-color-gradient-shade);
    --ion-color-tint: var(--ion-color-gradient-tint);
}

.ion-color-favorite{
    --ion-color-base: var(--ion-color-favorite);
    --ion-color-base-rgb: var(--ion-color-favorite-rgb);
    --ion-color-contrast: var(--ion-color-favorite-contrast);
    --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
    --ion-color-shade: var(--ion-color-favorite-shade);
    --ion-color-tint: var(--ion-color-favorite-tint);
}