<ion-header>
  <ion-toolbar>
    <ion-title>SiriusID</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div id="text">
  <p>Personalize SiriusID</p>
</div>

<div id="input">
  <div id="border"> 
    <ion-input inputmode="text" placeholder="Add your name here"></ion-input>
  </div>
  
  <p> You can always change this information later</p>    
</div>

<ion-list>
  <ion-item>
  </ion-item>

  <ion-item [routerLink]="['/terms']" mode="ios">
    <ion-checkbox color="gradient" checked="true" disabled="false" ></ion-checkbox>    
    <p >Accept terms and conditions </p>
  </ion-item>

  <ion-item [routerLink]="['/policy']" mode="ios">
    <ion-checkbox color="gradient" checked="true"  disabled="false"></ion-checkbox>     
    <p >Accept privacy policy</p>
  </ion-item>

  <div id="button">
    <ion-button [routerLink]="['/signup1']" color="favorite" mode="md">Create Identity</ion-button>
  </div>
</ion-list>

</ion-content>
