<ion-header>
  <ion-toolbar>

    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        
        <ion-col >        
          <p>Profile</p>       
        </ion-col>

        <ion-col [routerLink]="['/tabs/user/user1']">
          <p>Edit</p>
        </ion-col>

      </ion-row>
    </ion-grid>

    <img src='assets/user.png'/>
    <h4>PHANTOM28004</h4>

  </ion-toolbar>
</ion-header>

<ion-content>

<!-- List of Text Items -->
<ion-list lines="full" inset="false">
  <ion-list-header>
    <div id="text">Functions</div>
  </ion-list-header>  
  <ion-item [routerLink]="['/tabs/user/qr']" mode="ios">
    <ion-icon name="qr-scanner" slot="start" size="large"></ion-icon>
    <h5>My Address</h5>
  </ion-item>
</ion-list>

<ion-list lines="full" inset="false">
    <ion-list-header>
      <div id="text">Personal</div>
    </ion-list-header>  
    <ion-item>
      <ion-label>
        <h5>
          <div id="text2">Name<br></div>
          PHANTOM28004
        </h5>
      </ion-label>        
    </ion-item>

    <ion-item>
      <ion-label>
        <h5>
          <div id="text2">Email<br></div>
          phap.ho@fdssoft.com
        </h5>
      </ion-label>        
    </ion-item>

    <ion-item>
      <ion-label>
        <h5>
          <div id="text2">Country<br></div>
          Vietnam
        </h5>
      </ion-label>        
    </ion-item>

    <ion-item>
      <ion-label>
        <h5>
          <div id="text2">Phone<br></div>
          +84 349 321 167
        </h5>
      </ion-label>        
    </ion-item>
  


</ion-list>
  
  
</ion-content>
