:host {
    background: url('../../assets/bg.png') no-repeat 0 0;
    background-size: cover;
    ion-header {
        backdrop-filter: none;
        ion-toolbar {
            --color: #fff;
            --border-width: 0;
            --background: none;
        }
    }
    ion-content {
        --background: none;
    }
}
ion-back-button{
    --color: #ffffff;
}

ion-title{
    color: #ffffff;
    font-family: Arial;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

#text{
    text-align: center;
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 1vh;
    b{
        font-size: 12px;
        line-height: 14px;
    }
}

#image{
    text-align: center;
    padding-top: 5vh;
    img{
        width: 110px;
        height: 110px;
    }    
}

#text1{
    padding-top: 10vh;
    padding-bottom: 5vh;
    text-align: center;
    color: #ffffff;
    font-weight: 550;
    font-size: 16px;    
}

#button{
    width: 100%;
    text-align: center;
    padding-top: 20vh;
    ion-button {
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
        --color: #ffffff;
        --border-radius: 100px;
        --border-color: #fff;
        --border-width: 1px;
        --padding-start: 30vw;
        --padding-end: 30vw;
        --padding-top: 1vh;
        --padding-bottom: 1vh;
        text-transform: none;
    }
}

#border{    
    border: 0.5px solid white;
    border-radius: 25px;
    background: #ffffff;
    width: 90vw;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
}