ion-toolbar{
    --background: url('../../assets/bgsetting.png');
    --min-height: 5vh;
}

ion-back-button{
    --color: #ffffff;
}
ion-title{
    color: #ffffff;
    text-align: center;
}

p{
    padding-top: 5vh;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: normal;
    color: #000000;
    padding-left: 5vw;
    padding-right: 5vw;
}

#text{
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
}

ion-checkbox{
    --border-color: #38cb90;
    --border-radius: 0;
    --size: 14px;
}

ion-item{
    padding-left: 1vw;
    padding-right: 3vw;
}

#button{
    height: 25vh;
    text-align: center;
    padding-top: 35vh;
    padding-bottom: 0vh;

    ion-button {
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
        --color: #ffffff;
        --border-radius: 100px;
        --border-color: #fff;
        --border-width: 1px;
        --padding-start: 17vw;
        --padding-end: 17vw;
        --padding-top: 1vh;
        --padding-bottom: 1vh;
        text-transform: none;
    }
}

.ion-color-favorite {
    --ion-color-base: var(--ion-color-favorite);
    --ion-color-base-rgb: var(--ion-color-favorite-rgb);
    --ion-color-contrast: var(--ion-color-favorite-contrast);
    --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
    --ion-color-shade: var(--ion-color-favorite-shade);
    --ion-color-tint: var(--ion-color-favorite-tint);
}
