<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="" mode="ios"></ion-back-button>
      </ion-buttons>
      <ion-title>Backup</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <p>Here is your backup phrase. Please write it down on paper and keep it in a secure location.
    You will need the passphrase to recover your wallet in case of loss or theft.</p>



  <ion-item>
    <ion-checkbox slot="start" color="favorite"></ion-checkbox>
    <div id="text">I understand that I am take responsible for keeping my passphase private and safe.
      Lossing my passphase will result in an inability to recovery my account.
    </div>
  </ion-item>

  <div id="button">
    <ion-button [routerLink]="['/']" color="favorite" >Show Passphase</ion-button>
  </div>
</ion-content>
