
ion-content { 
    --background: url('../../assets/bg.png');
}

#logo {    
    padding-top: 32vh;
    text-align: center;
    img {
    width: 70px;
    height: 70px;
    }    
}


p {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 28px;
    color: #ffffff;
    text-align: center;
}


#btn {
    width: 100%;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 2vh;
    ion-button {
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        --color: #ffffff;
        --border-radius: 100px;
        --border-color: #ffffff;
        --padding-start: 20vw;
        --padding-end: 20vw;
        --padding-top: 1vh;
        --padding-bottom: 1vh;
        text-transform: none;
    }
}

#btn1 {
    width: 100%;
    text-align: center;
    ion-button {
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
        --color: #ffffff;
        --border-radius: 100px;
        --border-color: #ffffff;
        --padding-start: 13vw;
        --padding-end: 13vw;
        --padding-top: 1vh;
        --padding-bottom: 1vh;
        --box-shadow:  0.5px 0.5px 1px 1px #ffffff;
        text-transform: none;
    }
}


.ion-color-gradient{
    --ion-color-base: var(--ion-color-gradient);
    --ion-color-base-rgb: var(--ion-color-gradient-rgb);
    --ion-color-contrast: var(--ion-color-gradient-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gradient-contrast-rgb);
    --ion-color-shade: var(--ion-color-gradient-shade);
    --ion-color-tint: var(--ion-color-gradient-tint);
}