<ion-header>
  
</ion-header>

<ion-content>

  <div id="logo" >
    <img src='assets/logo.png'/>
  </div>

  <p>SiriusID</p>

  <div id="btn">
    <ion-button [routerLink]="['/intro']" color="light">GET START</ion-button>
  </div>

  <div id="btn1">
    <ion-button [routerLink]="['/recovery']" color="transparent" >Recover Account</ion-button>
  </div>



</ion-content>
