<ion-header>
  <ion-toolbar>
    <ion-title>Recovery ID</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="text">
  <p>Please enter your passphrase to recover your wallet.</p>
</div>

<div id="input">
  <ion-input inputmode="text" placeholder="Backup phase here"></ion-input>
</div>

<div id="button1">
  <ion-button [routerLink]="['/recovery1']" color="favorite" >Next</ion-button>
</div>
</ion-content>
